@use "sass:color";
@use "variables";
@use "media-mixin";

.chatbox {

  &__toggle {
    bottom: media-mixin.rem(20);
    right: variables.$chat-offset-right;
    width: media-mixin.rem(73);
    height: media-mixin.rem(73);
    background: variables.$primary-color;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: media-mixin.rem(2);

    &-avatar {
      width: media-mixin.rem(75);
      height: media-mixin.rem(75);
      max-width: 100%;
      max-height: 100%;
      background: url('../images/avatar.jpg') no-repeat center;
      background-size: cover;
      border-radius: 50%;
    }

    &:hover {
      background: color.adjust(variables.$primary-color, $lightness: -10%);
    }

  }
}

